.spinner {
  display: block;
  margin: auto;
  margin-top: 15vw;
}

.example-card {
  max-width: 400px;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 5rem;
}

.errorImage{
  width: 50%;
}
