.movie-container {
    margin: auto;
    max-width: 800px;
  
    .btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: 5px;
  
      button {
        margin-left: 5px;
  
        &.go-back {
          background: #fff;
          color: #000;
        }
      }
    }
  }